:root {
  --primary-color: rgb(1, 5, 44);
  --secondary-color: #302848;
  --secondary-color-2: #443866;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  margin-bottom: 0;
}

h1 {
  position: absolute;
  bottom: 322px;
  left: 360px;
  font-size: 6rem;
  color: #fff;
  font-family: "Redressed", cursive;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik", sans-serif;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

a {
  text-decoration: none;
}

.nav-co {
  background-color: rgba(1, 5, 44, 0.87);
  height: 10vh;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  z-index: 10;
  top: 0;
}

nav ul li {
  display: inline-block;
}

nav a {
  color: #fff;
  font-size: 1.2rem;
}

.flex-nav {
  justify-content: end;
  gap: 3rem;
  padding-right: 5rem;
  /* padding-top: 1.5rem; */
}

.img-responsive {
  width: 100%;
  /* height: auto; */
  height: 100%;
  background-image: cover;
}

.img-header {
  /* background-image: url(); */
  position: relative;
  /* background-color: #000; */
}

.img-space {
  filter: brightness(70%);
  /* background-image: url("img/space-i01.jpg"); */
  /* WHY makes the 
  sticky navbar not so sticky anymore, fixed by giving navbar
  positive z-index */
}

@media screen and (min-width: 1600px) {
  .img-header {
    width: 1349px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .img-map {
    width: 90vw;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

/* ----------------------------------- WORLD MAP ---------------------------------- */
/* .heading-map {
  text-align: center;
  margin: 3rem auto;
} */

.world-map {
  /* background-color: #000; */
  /* height: 3rem; */
}

.img-map-font {
  margin-top: 4rem;
  margin-left: 34%;
  /* margin-right: auto; */
  width: 30rem;
}

.world-map {
  margin-right: auto;
  margin-left: auto;
}
/* ----------------------------------- CIRCLE ---------------------------------- */
.circle {
  background-color: var(--primary-color);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.observation,
.earth-weather,
.mars-weather {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  color: #fff;
  background-color: var(--secondary-color);
  margin-left: 12%;
  /* margin-right: 3rem; */
}

/* ----------------------------------- Calender ---------------------------------- */

.img-calender {
  filter: brightness(70%);
}

/* ----------------------------------- Square ---------------------------------- */

.square {
  background-color: var(--secondary-color-2);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.sky-map,
.youtube,
.books {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  border-radius: 10%;
  color: #fff;
  background-color: var(--primary-color);
  margin-left: 12%;
  /* margin-right: 3rem; */
}

/* ----------------------------------- footer ---------------------------------- */

.img-footer {
  filter: brightness(30%);
}
